html * {
  font-family: Arial;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: color;
  background: #efe7dd url("http://93.188.161.202/chat/wp.png") repeat
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.btn {
  padding: 8px 11px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 0.8rem;
  cursor: pointer;
  border: none;
}

.btn-outline {
  color: rgb(153, 217, 234);
  border: 1px solid rgb(153, 217, 234);
  background: rgb(63, 73, 204);
}

.btn-primary {
  background: rgb(153, 217, 234);
  color: rgb(0, 24, 111);
}

.btn-secondary {
  background: rgb(0, 24, 111);
  color: #fff;
}

/* chat boat */
